<!-- /********************************************************************************
* BTI325 – Assignment 03
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecapolytechnic.ca/about/policies/academic-integrity-policy.html
*
* Name: Zeeshaun Ahmad Student ID: 158043224  Date: October 13th 2024
*
********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl tab-active" href="/home">Climate Solutions</a>
        </div>
        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
              <li><a href="#">About</a></li>
              <li>
                <details>
                  <summary>Sector</summary>
                  <ul class="p-2 bg-base-100 right-0">
                    <li><a href="/solutions/projects?sector=Industry">Industry</a></li>
                    <li><a href="/solutions/projects?sector=transportation">Transportation</a></li>
                    <li><a href="/solutions/projects?sector=electricity">Electricity</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
    
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost sm:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </label>
          <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li ><a href="#" >About</a></li>
            <li>
              <details>
                <summary>
                  Sector
                </summary>
                <ul class="p-2 bg-base-100">
                  <li><a href="/solutions/projects?sector=Industry">Industry</a></li>
                  <li><a href="/solutions/projects?sector=transportation">Transportation</a></li>
                  <li><a href="/solutions/projects?sector=electricity">Electricity</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">About Me</h1>
    
              <p class="py-6">I am a second year student at Seneca Polytechnic I am studying software development I have a love for hockey and pokemon and am looking forward to learning more in this course</p>
            </div>
          </div>
        </div>
        <br>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <div class="card bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="/infernapevsca3.avif">
              </figure>
              <div class="card-body">
                <h2 class="card-title content-center">About Me</h2>
                <p>I'm a second-year software development student at Seneca with a passion for coding and gaming. I'm a huge Pokémon fan, and my favorite Pokémon is Infernape.</p>
              </div>
            </div>
          </div>

            <div>
              <div class="card bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="/canucksvsca3.jpg">
                </figure>
                <div class="card-body">
                  <h2 class="card-title content-center">More About Me</h2>
                  <p>When I'm not immersed in tech or Pokémon, you'll find me watching hockey, cheering on my favorite team, the Vancouver Canucks.</p>
                </div>
              </div>
            </div>
        </div>
        </div>
</body>
</html>