<!-- /********************************************************************************
* BTI325 – Assignment 06
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecapolytechnic.ca/about/policies/academic-integrity-policy.html
*
* Name: Zeeshaun Ahmad Student ID: 158043224  Date: December 8th 2024
*
********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
      <br>
      <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">About Me</h1>
    
              <p class="py-6">I am a second year student at Seneca Polytechnic I am studying software development I have a love for hockey and pokemon and am looking forward to learning more in this course</p>
            </div>
          </div>
        </div>
        <br>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <div class="card bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="/infernapevsca3.avif">
              </figure>
              <div class="card-body">
                <h2 class="card-title content-center">About Me</h2>
                <p>I'm a second-year software development student at Seneca with a passion for coding and gaming. I'm a huge Pokémon fan, and my favorite Pokémon is Infernape.</p>
              </div>
            </div>
          </div>

            <div>
              <div class="card bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="/canucksvsca3.jpg">
                </figure>
                <div class="card-body">
                  <h2 class="card-title content-center">More About Me</h2>
                  <p>When I'm not immersed in tech or Pokémon, you'll find me watching hockey, cheering on my favorite team, the Vancouver Canucks.</p>
                </div>
              </div>
            </div>
        </div>
        </div>
</body>
</html>